/* Thùng chứa chính */
.thong-ke-khach-hang-wrapper {
    padding: 30px;
    background-color: #f4f6f8;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/* Vùng cuộn ngang */
.thong-ke-khach-hang-scroll-wrapper {
    width: 100%;
    overflow-x: auto;
}

.filters .ant-input-affix-wrapper:nth-child(1) { width: 320px; }
.filters .ant-select:nth-child(2) { width: 140px; }
.filters .ant-select:nth-child(3) { width: 140px; }
.filters .ant-select:nth-child(4) { width: 90px; }

/* Chỉ áp dụng khi có class only-two-cols */
.only-two-cols .ant-table-cell,
.only-two-cols .ant-table-thead > tr > th {
  max-width: 120px !important;
  min-width: 120px !important;
  width: 120px !important;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.only-two-cols .ant-table-content {
  max-width: 240px !important;
  min-width: 240px !important;
}